<html>
    <head>
        <title>주문내역 리스트 조회하기</title>
    </head>
    <body>
        <p>주문 목록</p>
        <table border='1'>
            <tr style="background-color:blanchedalmond;">
                <th>회원아이디</th>
                <th>주문번호</th>
                <th>상품코드</th>
                <th>수량</th>
            </tr>
            {% for dt in df %}
            <tr>
                {% for i in dt %}
                <td>{{i}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>